{{page-title "ApexaAdvisorUI"}}
<div class="container">
  <table  width="50%" style="background-color: aqua;">
    <tr>
        <td align="right"> 
          <span style="font-weight: bold;"> Apexa UI</span>
        </td>
       
        <td align="right">
            <button><a href="/Advisors" style="text-decoration: none;">
            <span style="color:rgb(15, 11, 19); font-size: 14px;padding: 5px 2px;">List of Advisors</span></a>
            </button>
        </td>
         <td>

        </td>
        
        <td align="right">
            <button><a href="/createadvisor" style="text-decoration: none;">
            <span style="color:rgb(15, 11, 19);font-size: 14px;padding: 5px 2px;">Create New Advisor</span></a>
            </button>
        </td>
    </tr>
  </table>
    
         
   
    
  </div>
  <div class="container">
    {{outlet}}
  </div>